---
export interface Props {
  orbs: number;
  depth: number;
  layer?: number;
}

var { orbs, layer = 0, depth } = Astro.props;

function className(index: number) {
  return "layer-" + index;
}
---

{
  [...Array(orbs).keys()].map((index) => (
    <div class={className(layer)}>
      {depth > 0 && (
        <Astro.self orbs={orbs} layer={layer + 1} depth={depth - 1} />
      )}
    </div>
  ))
}
