---
export interface Props {
  orbs: number;
  depth: number;
  layer?: number;
}

var { orbs, depth, layer = 1, state = { total: 0 } } = Astro.props;

function className(prefix:string, index: number) {
  return prefix + "-" + index;
}

function idName() {
  return "orb-" + state.total;
}

function increment() {
  state.total = state.total + 1;
}
---

{
  [...Array(orbs).keys()].map((index) => (
    <div class:list={[className("layer", layer), className("index", index)]} id={idName()}>
      {increment()}
      {depth > 1 && (
        <Astro.self
          orbs={orbs}
          layer={layer + 1}
          depth={depth - 1}
          state={state}
        />
      )}
    </div>
  ))
}
